body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1 {
    color: #ff6600;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #cc5200;
}